@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    grid-row: inherit;
}
#topnav   {
    grid-template: inherit;
   width: 1410px;
   height: 50px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    border: 10px solid  blueviolet;
    border-bottom: 5px  greenyellow solid;
    translate: -3px -10px;
   z-index: 90;
   transition-duration: 1s;
}

html   {
    grid-row: inherit;
    background-image: url(istockphoto-472155784-612x612_500x500.jpeg);
    background-size: contain;
    color: white;
    width: 96%;
  
    margin-top: 0;
}



i   {
    grid-row: inherit;
    color: greenyellow;
    font-size: 25px;
    transition-duration: 1s;
}

a   {
    grid-template-columns: auto;
    color: greenyellow;
    font-family: 'Source Code Pro';
    font-size: 25px;
    transition-duration: 1s;
}

#front  {
    grid-template-columns: auto;
    font-family: 'Source Code Pro', monospace;
    height: 500px;
    width: 750px;
    padding-top: 50px;
    padding-left: 50px;
   
    color: violet;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

h4  {
    grid-column-start: auto;
    text-align: center;

}

#about  {
    display: grid;
    color: aqua;
    padding-top: 250px;
    padding-left: 750px;
    height: 500px;
    width: 750px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    margin: 0;
    grid-template-columns: 600px;
}


#first {
    grid-row: inherit;
    translate: 750px -300px;
    width: 300px;
    height: 350px;
}

#second {
    grid-row: inherit;
    translate: -750px  -325px;
    width: 400px;
    height: 400px;
}

#contact    {
    grid-row: inherit;
    color: yellow;
    padding-top: 350px;
    padding-left: 50px;
    height: 500px;
    width: 750px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    padding-bottom: 0;
}

#third  {
    grid-row: inherit;
translate: 750px -300px;
width: 300px;
height: 350px;
}

#topnav:hover {
    grid-row: inherit;
transition-duration: 0.5s;
height: 150px;
}

a:hover {
    grid-row: inherit;
    transition-duration: 0.5s;
    font-size: 35px;
}

i:hover {
    grid-row: inherit;
    transition-duration: 1s;
    font-size: 35px;
}


input[type=text], select, textarea {
    grid-row: inherit;
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
    font-family: 'Source Code Pro';
  }
  
 
  input[type=submit] {
    grid-row: inherit;
    background-color: #04AA6D;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Source Code Pro';
  }
  
  
  input[type=submit]:hover {
    grid-row: inherit;
    background-color: #45a049;
  }
  

  .container {
    grid-row: inherit;
    border-radius: 5px;
    background-color: black;
    margin-left: 100px;
    font-family: 'Source Code Pro';
    margin-bottom: 100px;
    border-color: yellow;
    border: 3px;
  }

  #social {
    display: grid;
    grid-template-rows: 100px 100px;
    color: greenyellow;
    font-size: 50px;
  }

  header    {
    color: greenyellow;
    font-family: 'Source Code Pro';
  }